# macOS junk
.DS_Store
**/.DS_Store

# R session junk
.Rhistory
.RData
.RDataTmp
.Rproj.user/

# Ignore Sherdog downloaded HTML files anywhere under data/raw
data/raw/**/*.html

# All generated CSV outputs for test
interim/confidence_test_model/*.csv


