# macOS junk
.DS_Store
**/.DS_Store

# R session junk
.Rhistory
.RData
.RDataTmp
.Rproj.user/

# Ignore Sherdog downloaded HTML files anywhere under data/raw
data/raw/**/*.html

# Ignore generated test confidence CSVs
interim/confidence_test_model/*.csvarchive/
